#main {
    text-align: center;
    
}
#calculator {
    width: 300px;
    background-color: darkblue;
    height: 400px; 
    text-align: center; 
    border-radius: 5px;
    margin: auto;
}
#message {
    height: 100px;
    color: grey;
}
#input{
    padding-top: 40px;
}
button {
    color: black;
    background-color: white;
    width: 200px;
    height: 40px;
    font-size: 30px;
    margin: 5px;
    border-radius: 10px;
}
button:hover {
    color: white;
    background-color: grey;
    transform: scale(1.5);
    transition: all 0.5s ease-in-out;
}
#foot {
    text-align: center;
}

